workflow_unified/Unified-PyBOG-Main-Workflow .json
{
  "name": "Unified-PyBOG-Main-Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pybog-main",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "files"
        }
      },
      "id": "dee1816a-af2d-4da4-b90f-d5b88445530c",
      "name": "Main Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1840,
        48
      ],
      "webhookId": "pybog-main-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Input Processor with refinement support\nconst item = $input.first();\nconst data = item.json || {};\nconst body = data.body || data;\nconst binary = item.binary || {};\n\n// Extract core data\nconst sessionId = body.sessionId || body.session_id || `session_${Date.now()}`;\nconst action = body.action || 'process'; // process, analyze, refine, approve, generate, chat\nconst message = body.message || body.text || body.chatInput || '';\nlet extractedText = body.extracted_text || body.extractedText || '';\nconst feedback = body.feedback || '';\nconst priorAnalysis = body.analysis || null;\n\n// Check for files\nlet files = [];\nlet fileIndex = 0;\nconst binaryPrefix = 'files';\n\nwhile (binary[`${binaryPrefix}${fileIndex}`]) {\n  const file = binary[`${binaryPrefix}${fileIndex}`];\n  files.push({\n    filename: file.fileName,\n    mimeType: file.mimeType,\n    binaryKey: `${binaryPrefix}${fileIndex}`,\n    size: file.data ? file.data.length : 0\n  });\n  fileIndex++;\n}\n\n// Convert message to extractedText if no files and no existing extractedText\nif (!extractedText && message && files.length === 0) {\n  extractedText = message;\n}\n\n// Enhanced workflow path determination\nlet workflowPath = 'unknown';\n\nif (action === 'approve') {\n  workflowPath = 'generation';\n} else if (action === 'refine' || feedback) {\n  workflowPath = 'refine';\n} else if (action === 'generate') {\n  workflowPath = 'generation';\n} else if (files.length > 0 && !extractedText) {\n  workflowPath = 'extraction';\n} else if (extractedText || message.length > 100) {\n  workflowPath = 'analysis';\n} else if (message && message.length < 100) {\n  workflowPath = 'chat';\n} else {\n  workflowPath = 'greeting';\n}\n\nreturn {\n  json: {\n    sessionId: sessionId,\n    action: action,\n    workflowPath: workflowPath,\n    message: message,\n    extractedText: extractedText,\n    feedback: feedback,\n    priorAnalysis: priorAnalysis,\n    files: files,\n    hasFiles: files.length > 0,\n    timestamp: new Date().toISOString()\n  },\n  binary: binary\n};"
      },
      "id": "6c1d088a-392a-4ba7-b30a-3364bbc615a1",
      "name": "Enhanced Input Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        48
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.workflowPath }}",
                    "rightValue": "extraction",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "82a76003-b6db-4cba-a631-2f4e45daa9d4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "extraction"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.workflowPath }}",
                    "rightValue": "analysis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1e8d7000-1721-4467-a134-8fef0901cfb7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.workflowPath }}",
                    "rightValue": "refine",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c05b783f-280d-4062-a0f7-4c4f5216b772"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "refine"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.workflowPath }}",
                    "rightValue": "generation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "06e78ac1-86c0-4a13-b702-f672496d4d9a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generation"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.workflowPath }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f196648b-b735-4f3f-a9ef-2aa41d3a4509"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "606011ba-e926-42a4-a8e9-1447ea3bfef1",
      "name": "Enhanced Workflow Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1424,
        -16
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "extractedTexts",
        "options": {}
      },
      "id": "67180186-9e25-4cfd-be23-485d3352cfb1",
      "name": "Aggregate Texts",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -352,
        -848
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all extracted texts and proceed to analysis\nconst items = $input.all();\nconst sessionData = items[0].json;\nconst extractedTexts = items.map(item => {\n  if (item.json.choices && item.json.choices[0]) {\n    return item.json.choices[0].message.content;\n  }\n  return '';\n}).filter(text => text.length > 0);\n\nconst combinedText = extractedTexts.join('\\n\\n---DOCUMENT SEPARATOR---\\n\\n');\n\nreturn {\n  json: {\n    sessionId: sessionData.sessionId,\n    extractedText: combinedText,\n    workflowPath: 'analysis', // Force to analysis after extraction\n    message: 'Analyze this extracted HVAC content',\n    fileCount: sessionData.files?.length || 0,\n    totalCharacters: combinedText.length,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "a236d0aa-3e74-4a9f-8cbc-226f570b4df9",
      "name": "Combine Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -848
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert HVAC controls engineer. Analyze or refine HVAC sequences based on inputs.\n\n**Available Inputs:**\n- Extracted Text: {{ $json.extractedText || 'None' }}\n- User Message: {{ $json.message || 'None' }}\n- Prior Analysis: {{ JSON.stringify($json.priorAnalysis || {}) }}\n- User Feedback: {{ $json.feedback || 'None' }}\n\n**Your Task:**\nIf this is initial analysis, extract I/O points and create control logic from the text.\nIf this is refinement (prior analysis + feedback provided), improve the analysis based on feedback.\n\n**Required Output Structure:**\n```json\n{\n  \"io_points\": {\n    \"inputs\": [\"list of sensor/input points\"],\n    \"outputs\": [\"list of actuator/output points\"]\n  },\n  \"control_blocks\": [\"list of logical control blocks\"],\n  \"pseudocode\": [\n    {\n      \"block\": \"Block Name\",\n      \"logic\": [\"array of logic steps\"]\n    }\n  ],\n  \"issues\": [\"any ambiguities or missing info\"]\n}\n```\n\nProvide detailed, accurate analysis suitable for building automation. Use the `format_final_json_response` tool to return the final JSON output.",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 8
        }
      },
      "id": "337d39d4-0a69-4d06-a705-11c6e5e10aa4",
      "name": "HVAC Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -960,
        -576
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "id": "86eb600c-b053-41e9-8ecb-9f0e600e94a4",
      "name": "Analysis Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1024,
        -368
      ],
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "tableName": "hvac_chat_memory"
      },
      "id": "6c7c5f27-46a7-45a7-94f1-613327d6e739",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -880,
        -384
      ],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "hvac_chat_memory",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $json.session_id }}"
            },
            {
              "column": "state",
              "value": "pending_approval"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "id": "2efe19cd-f20f-4a4d-ad56-b944a9935a2a",
      "name": "Retrieve Pending Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1056,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format BOG generation request from approved analysis\nconst data = $input.first().json;\nlet analysis;\n\n// Handle different data sources\nif (data.data && typeof data.data === 'string') {\n  try {\n    analysis = JSON.parse(data.data);\n  } catch (e) {\n    analysis = data;\n  }\n} else {\n  analysis = data.data || data;\n}\n\n// Ensure we have the analysis structure\nif (!analysis.io_points) {\n  throw new Error('No analysis data found for BOG generation');\n}\n\nconst bogRequest = {\n  bog_name: `hvac_control_${data.session_id || Date.now()}`,\n  session_id: data.session_id,\n  inputs: (analysis.io_points?.inputs || []).map(input => ({\n    name: input.replace(/\\s+/g, '_').toLowerCase(),\n    type: 'sensor',\n    units: 'units',\n    default_value: 0.0\n  })),\n  outputs: (analysis.io_points?.outputs || []).map(output => ({\n    name: output.replace(/\\s+/g, '_').toLowerCase(),\n    type: 'actuator',\n    control_type: 'modulating',\n    range: '0-100%',\n    default_value: 0.0\n  })),\n  control_sequences: (analysis.pseudocode || []).map((item, idx) => ({\n    name: item.block || `Sequence_${idx + 1}`,\n    type: 'sequence',\n    description: `Control logic for ${item.block}`,\n    logic: Array.isArray(item.logic) ? item.logic.join('\\n') : item.logic\n  })),\n  metadata: {\n    generated_at: new Date().toISOString(),\n    workflow_version: 'iterative-1.0',\n    session_id: data.session_id\n  }\n};\n\nreturn { json: bogRequest };"
      },
      "id": "e06819a6-8056-406f-8610-a0542614fc03",
      "name": "Format BOG Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/generate-bog",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\"Content-Type\": \"application/json\"}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "7437769e-aa0e-4424-bcf4-7184d778aa59",
      "name": "Generate BOG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "9a548fa3-748c-4f66-805b-6dc51e4e80da",
      "name": "Chat Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        -800,
        208
      ],
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "id": "ef4c61a6-a3a0-4585-8a20-ee9c20154c0c",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -144,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format responses with proper pause-and-approve flow\nconst data = $input.first().json;\nconst workflowPath = data.workflowPath || 'unknown';\nlet response = {};\n\nswitch(workflowPath) {\n  case 'extraction':\n    response = {\n      status: 'extraction_complete',\n      sessionId: data.sessionId,\n      message: 'Document text extracted successfully. Analyzing HVAC content...',\n      extractedText: data.extractedText,\n      characterCount: data.totalCharacters,\n      nextStep: 'analysis'\n    };\n    break;\n    \n  case 'analysis':\n  case 'refine':\n    response = {\n      status: 'ready_for_review',\n      sessionId: data.sessionId,\n      message: workflowPath === 'refine' ? \n        'Analysis refined based on your feedback. Please review:' : \n        'HVAC analysis complete! Please review the extracted components:',\n      analysis: {\n        inputs: data.io_points?.inputs || [],\n        outputs: data.io_points?.outputs || [],\n        controlBlocks: data.control_blocks || [],\n        pseudocode: data.pseudocode || [],\n        issues: data.issues || []\n      },\n      actions: {\n        approve: {\n          label: '✅ Approve & Generate BOG',\n          action: 'approve',\n          description: 'Proceed with BOG file generation'\n        },\n        refine: {\n          label: '🔄 Request Changes',\n          action: 'refine',\n          description: 'Provide feedback to improve the analysis'\n        }\n      },\n      readyForBOG: true\n    };\n    break;\n    \n  case 'generation':\n    response = {\n      status: 'generation_complete',\n      sessionId: data.sessionId,\n      message: 'BOG file generated successfully!',\n      downloadUrl: data.download_url || data.downloadUrl,\n      bogFilePath: data.bog_file_path || data.bogFilePath,\n      components: data.components || {\n        inputs: data.inputs?.length || 0,\n        outputs: data.outputs?.length || 0,\n        control_sequences: data.control_sequences?.length || 0\n      }\n    };\n    break;\n    \n  case 'chat':\n    response = {\n      status: 'chat_response',\n      sessionId: data.sessionId,\n      message: data.choices?.[0]?.message?.content || 'I can help you with HVAC control sequences and BOG generation.',\n      requiresAction: false\n    };\n    break;\n    \n  default:\n    response = {\n      status: 'ready',\n      sessionId: data.sessionId,\n      message: 'Welcome to PyBOG Control Builder! Upload a PDF or describe your HVAC control sequence.',\n      capabilities: [\n        'Extract text from PDF documents',\n        'Analyze HVAC control sequences',\n        'Iterative design with feedback',\n        'Generate BOG files'\n      ]\n    };\n}\n\nresponse.timestamp = new Date().toISOString();\nreturn { json: response };"
      },
      "id": "d00be495-8cc2-468a-9928-99cc33d7afe3",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "71f04359-b7cd-4fd0-ad1b-364624ea8487",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        16,
        496
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.binaryKey || Object.keys($binary || {})[0] || 'data' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -816,
        -848
      ],
      "id": "b212144f-878c-4ec0-be29-f1fb199f7bda",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert HVAC controls engineer. Your task is to extract control points, functional logic, and alarms from a sequence of operations document.\n{{ $json.message || '' }}",
              "role": "system"
            },
            {
              "content": "==Here's the document you need to extract the information from:\n{{ $json.text }}"
            },
            {
              "content": "Based on the HVAC sequence of operations provided, analyze the text and extract the key information. Populate the following JSON structure. Only include points, blocks, and alarms explicitly mentioned in the text.\n\n{\n  \"io_points\": {\n    \"inputs\": [\n      {\"name\": \"A sensor or status input\", \"type\": \"Analog or Binary\"}\n    ],\n    \"outputs\": [\n      {\"name\": \"A commanded device like a fan or valve\", \"type\": \"Analog or Binary\"}\n    ]\n  },\n  \"functional_blocks\": [\n    {\"name\": \"The name of a control section, like 'Economizer'\", \"summary\": \"A brief summary of the block's function.\"}\n  ],\n  \"alarms\": [\n    {\"name\": \"The name of the alarm\", \"condition\": \"The condition that triggers the alarm.\"}\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -656,
        -848
      ],
      "id": "c3336418-6770-417b-8bae-ae52da3dba8d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fan-out: produce one item per uploaded file\nconst item = $input.first();\nconst files = (item.json?.files || []);\nconst out = [];\n\nif (files.length) {\n  for (const f of files) {\n    const key = f.binaryKey;\n    if (key && item.binary?.[key]) {\n      out.push({\n        json: { ...item.json, binaryKey: key, fileName: f.filename, mimeType: f.mimeType },\n        binary: { [key]: item.binary[key] }\n      });\n    }\n  }\n} else if (item.binary && Object.keys(item.binary).length) {\n  // Fallback if files[] is missing: split all binary keys found\n  for (const key of Object.keys(item.binary)) {\n    out.push({\n      json: { ...item.json, binaryKey: key },\n      binary: { [key]: item.binary[key] }\n    });\n  }\n} else {\n  // If there are no files, just pass original through\n  out.push(item);\n}\n\nreturn out;"
      },
      "id": "49d95286-dd24-4946-9d1a-9eb9a49bdb8b",
      "name": "Split Files for Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        -848
      ]
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -1840,
        -144
      ],
      "id": "b67aa02a-91a6-4f55-bb37-cfaa723ddab2",
      "name": "When chat message received",
      "webhookId": "d6687798-c0ce-4ab6-8e8a-d2e9f0dda4b4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"io_points\": {\n    \"inputs\": [\n      {\"name\": \"Zone Temperature\", \"type\": \"Analog\"},\n      {\"name\": \"Supply Fan Status\", \"type\": \"Binary\"}\n    ],\n    \"outputs\": [\n      {\"name\": \"Cooling Coil Valve\", \"type\": \"Analog\"},\n      {\"name\": \"Supply Fan\", \"type\": \"Binary\"}\n    ]\n  },\n  \"functional_blocks\": [\n    {\"name\": \"Scheduling\", \"summary\": \"Controls Occupied/Unoccupied modes with different setpoints.\"},\n    {\"name\": \"Supply Fan Control\", \"summary\": \"Runs the fan during occupied modes and based on safeties.\"}\n  ],\n  \"alarms\": [\n    {\"name\": \"High Zone Temp\", \"condition\": \"Zone temp > cooling setpoint by user-definable amount.\"}\n  ]\n}",
        "autoFix": "={{ true }}"
      },
      "id": "4432337a-05d8-470f-936b-3618ae885f0b",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -704,
        -384
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "hvac_chat_memory",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "89afd80f-4015-4e7e-8d82-58489f43f547",
      "name": "Store Pending Analysis1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -560,
        -576
      ],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -784,
        -208
      ],
      "id": "99f412fc-a0a2-47f9-83a7-d8737397b18d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Main Webhook": {
      "main": [
        [
          {
            "node": "Enhanced Input Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Input Processor": {
      "main": [
        [
          {
            "node": "Enhanced Workflow Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enhanced Workflow Router": {
      "main": [
        [
          {
            "node": "Split Files for Extraction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Pending Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Texts": {
      "main": [
        [
          {
            "node": "Combine Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Extraction": {
      "main": [
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HVAC Analysis Agent": {
      "main": [
        [
          {
            "node": "Store Pending Analysis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Pending Analysis": {
      "main": [
        [
          {
            "node": "Format BOG Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format BOG Request": {
      "main": [
        [
          {
            "node": "Generate BOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate BOG": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Responses": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Response": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Aggregate Texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Files for Extraction": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Enhanced Input Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "HVAC Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Store Pending Analysis1": {
      "main": [
        [
          {
            "node": "Merge Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ee0e9196-9e1f-4f0a-a4d4-f4fb3ecbc15c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "046ab924127beebc2a6ac199cb53caca898f316c28d80263b1da11e2adc4b791"
  },
  "id": "iX5CYfy5MRJfjvwx",
  "tags": []
}