workflow_data/Enhanced-AnalysisChat.json
{
  "name": "Enhanced AnalysisChat - Interactive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analysis-chat",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Analysis Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 0],
      "webhookId": "analysis-chat-workflow",
      "notes": "Receives initial HVAC text input for analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1000, 200],
      "notes": "GPT-4o-mini for HVAC analysis"
    },
    {
      "parameters": {
        "name": "hvacAnalyzer",
        "description": "Extract I/O list from HVAC text description",
        "jsCode": "try {\n  const { extracted_text = '' } = ($input.first().json || {});\n  if (!extracted_text) throw new Error('No extracted_text provided');\n  \n  const io = { inputs: [], outputs: [] };\n  \n  // Enhanced regex patterns for HVAC components\n  const inputPatterns = [\n    /(temperature|pressure|status|setpoint|signal|monitor|sensor|reading|value|feedback)/gi,\n    /(outdoor\\s+air|return\\s+air|supply\\s+air|mixed\\s+air)\\s+(temperature|humidity)/gi,\n    /(damper|valve)\\s+(position|status)/gi\n  ];\n  \n  const outputPatterns = [\n    /(fan|valve|damper|actuator|pump|heater|cooler)\\s*(modulate|run|open|close|shut|start|stop|enable|disable)/gi,\n    /(supply|return|exhaust)\\s+fan/gi,\n    /(heating|cooling)\\s+(valve|coil)/gi\n  ];\n  \n  // Extract inputs\n  inputPatterns.forEach(pattern => {\n    const matches = extracted_text.match(pattern) || [];\n    matches.forEach(m => {\n      const clean = m.trim().toLowerCase();\n      if (!io.inputs.some(existing => existing.toLowerCase() === clean)) {\n        io.inputs.push(m.trim());\n      }\n    });\n  });\n  \n  // Extract outputs\n  outputPatterns.forEach(pattern => {\n    const matches = extracted_text.match(pattern) || [];\n    matches.forEach(m => {\n      const clean = m.trim().toLowerCase();\n      if (!io.outputs.some(existing => existing.toLowerCase() === clean)) {\n        io.outputs.push(m.trim());\n      }\n    });\n  });\n  \n  return { io_points: io };\n} catch(e) {\n  return { error: 'Failed to extract I/O points: ' + e.message };\n}"
      },
      "id": "hvac-analyzer",
      "name": "HVAC Analyzer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [-600, 200],
      "notes": "Extracts inputs and outputs from HVAC text"
    },
    {
      "parameters": {
        "name": "blockDecomposer",
        "description": "Break HVAC sequence into logical control blocks",
        "jsCode": "try {\n  const { extracted_text = '' } = ($input.first().json || {});\n  if (!extracted_text) throw new Error('No extracted_text provided');\n  \n  const blockKeywords = {\n    'Safety/Alarms': /safety|alarm|emergency|trip|fault|error|fail/gi,\n    'Scheduling/Modes': /schedule|mode|time|occupied|unoccupied|start|stop/gi,\n    'Fan Control': /fan|blower|cfm|airflow|speed/gi,\n    'Temperature Control': /temperature|setpoint|heating|cooling|thermostat/gi,\n    'Damper Control': /damper|outdoor\\s+air|return\\s+air|mixed\\s+air|economizer/gi,\n    'Valve Control': /valve|chilled\\s+water|hot\\s+water|steam/gi,\n    'Pressure Control': /pressure|static|differential/gi\n  };\n  \n  const blocks = Object.keys(blockKeywords).filter(blockName => {\n    return extracted_text.match(blockKeywords[blockName]);\n  });\n  \n  return { \n    blocks: blocks.length ? blocks : ['General HVAC Sequence'],\n    block_details: blocks.length ? blocks.map(b => ({\n      name: b,\n      keywords_found: extracted_text.match(blockKeywords[b]) || []\n    })) : []\n  };\n} catch(e) {\n  return { error: 'Failed to decompose blocks: ' + e.message };\n}"
      },
      "id": "block-decomposer", 
      "name": "Block Decomposer",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [-400, 200],
      "notes": "Decomposes HVAC text into logical control blocks"
    },
    {
      "parameters": {
        "name": "pseudocodeGenerator",
        "description": "Convert HVAC English description to structured pseudocode",
        "jsCode": "try {\n  const { blocks = [], io_points = {}, extracted_text = '' } = ($input.first().json || {});\n  if (!blocks.length && !io_points.inputs) throw new Error('No blocks or io_points provided');\n  \n  const inputs = io_points.inputs || [];\n  const outputs = io_points.outputs || [];\n  \n  const pseudocode = blocks.map(blockName => {\n    let logic = [];\n    \n    switch(blockName.toLowerCase()) {\n      case 'safety/alarms':\n        logic = [\n          'IF safety_condition_violated THEN',\n          '  SHUTDOWN all_equipment',\n          '  ACTIVATE alarm',\n          '  LOG safety_event'\n        ];\n        break;\n      case 'fan control':\n        logic = [\n          'IF occupied_mode AND temperature_deviation > threshold THEN',\n          '  MODULATE fan_speed BASED_ON temperature_error',\n          'ELSE',\n          '  SET fan_speed TO minimum_ventilation'\n        ];\n        break;\n      case 'temperature control':\n        logic = [\n          'IF space_temperature < heating_setpoint THEN',\n          '  OPEN heating_valve',\n          'ELSE IF space_temperature > cooling_setpoint THEN',\n          '  OPEN cooling_valve',\n          'ELSE',\n          '  CLOSE all_valves'\n        ];\n        break;\n      default:\n        if (inputs.length && outputs.length) {\n          logic = [\n            `IF ${inputs[0]} meets_condition THEN`,\n            `  ACTIVATE ${outputs[0]}`,\n            'ELSE',\n            `  DEACTIVATE ${outputs[0]}`\n          ];\n        } else {\n          logic = [\n            `IF condition_for_${blockName.replace(/[^a-zA-Z0-9]/g, '_')} THEN`,\n            '  PERFORM required_action',\n            'ELSE',\n            '  MAINTAIN current_state'\n          ];\n        }\n    }\n    \n    return {\n      block: blockName,\n      logic: logic\n    };\n  });\n  \n  return { pseudocode };\n} catch(e) {\n  return { error: 'Failed to generate pseudocode: ' + e.message };\n}"
      },
      "id": "pseudocode-generator",
      "name": "Pseudocode Generator", 
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [-500, 200],
      "notes": "Generates structured pseudocode from blocks and I/O points"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an expert HVAC controls engineer. Analyze the provided HVAC sequence description and prepare it for BOG (Building Operation Graphics) generation.\n\nProcess the input through these steps:\n1. First, use hvacAnalyzer to extract all inputs and outputs\n2. Then, use blockDecomposer to identify logical control blocks  \n3. Finally, use pseudocodeGenerator to create structured logic\n\nProvide a comprehensive analysis that includes:\n- All identified input/output points\n- Logical control blocks found\n- Structured pseudocode for each block\n- Any potential issues or ambiguities\n\nBe thorough and ensure all HVAC components and control logic are captured.",
        "options": {
          "maxIterations": 10
        }
      },
      "id": "hvac-expert-agent",
      "name": "HVAC Expert Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-800, 0],
      "notes": "Orchestrates HVAC analysis using tools in sequence"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const data = $input.first().json || {};\n  const sessionId = data.sessionId || 'session_' + Date.now();\n  const agentOutput = data.output || data;\n  \n  let io_points = {};\n  let blocks = [];\n  let pseudocode = [];\n  \n  // Parse agent output for structured data\n  if (typeof agentOutput === 'string') {\n    const ioMatch = agentOutput.match(/\"io_points\"\\s*:\\s*({[^}]+})/i);\n    const blocksMatch = agentOutput.match(/\"blocks\"\\s*:\\s*(\\[[^\\]]+\\])/i);\n    const pseudocodeMatch = agentOutput.match(/\"pseudocode\"\\s*:\\s*(\\[[^\\]]+\\])/i);\n    \n    if (ioMatch) {\n      try { io_points = JSON.parse(ioMatch[1]); } catch(e) {}\n    }\n    if (blocksMatch) {\n      try { blocks = JSON.parse(blocksMatch[1]); } catch(e) {}\n    }\n    if (pseudocodeMatch) {\n      try { pseudocode = JSON.parse(pseudocodeMatch[1]); } catch(e) {}\n    }\n  } else if (typeof agentOutput === 'object') {\n    io_points = agentOutput.io_points || {};\n    blocks = agentOutput.blocks || [];\n    pseudocode = agentOutput.pseudocode || [];\n  }\n  \n  // Ensure minimum structure\n  if (!io_points.inputs) io_points.inputs = [];\n  if (!io_points.outputs) io_points.outputs = [];\n  if (!blocks.length) blocks = ['General HVAC Sequence'];\n  if (!pseudocode.length) {\n    pseudocode = [{\n      block: blocks[0],\n      logic: ['IF condition THEN action', 'ELSE maintain_state']\n    }];\n  }\n  \n  return {\n    json: {\n      sessionId: sessionId,\n      analysis_complete: true,\n      io_points: io_points,\n      blocks: blocks,\n      pseudocode: pseudocode,\n      ready_for_review: true,\n      original_text: data.extracted_text || data.text || ''\n    }\n  };\n} catch(e) {\n  return {\n    json: {\n      sessionId: 'error_session',\n      error: 'Failed to process agent output: ' + e.message,\n      analysis_complete: false\n    }\n  };\n}"
      },
      "id": "analysis-processor",
      "name": "Analysis Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 0],
      "notes": "Processes and validates agent analysis results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.analysis_complete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "analysis-validator",
      "name": "Analysis Validator",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 0],
      "notes": "Validates if analysis completed successfully"
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "hvac_chat_memory",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $json.sessionId }}",
            "state": "pending_approval",
            "data": "={{ JSON.stringify($json) }}",
            "session_id": "={{ $json.sessionId }}",
            "human_message": "Analysis request",
            "ai_message": "Analysis complete, awaiting approval"
          }
        },
        "options": {}
      },
      "id": "store-analysis-state",
      "name": "Store Analysis State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [400, 200],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      },
      "notes": "Stores analysis results awaiting approval"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/analysis-complete",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "status",
              "value": "ready_for_review"
            },
            {
              "name": "message",
              "value": "Analysis complete. Please review the extracted components:"
            },
            {
              "name": "analysis",
              "value": "={{ JSON.stringify({ inputs: $json.io_points.inputs, outputs: $json.io_points.outputs, blocks: $json.blocks, pseudocode: $json.pseudocode }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-frontend",
      "name": "Notify Frontend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [200, 0],
      "notes": "Sends analysis to frontend via WebSocket"
    },
    {
      "parameters": {
        "resume": {
          "webhook": {
            "method": "POST",
            "path": "resume-approval"
          }
        }
      },
      "id": "wait-for-approval",
      "name": "Wait for User Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [400, 0],
      "webhookId": "wait-for-user-approval",
      "notes": "Pauses workflow until user approves or rejects"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-chat",
        "options": {}
      },
      "id": "resume-webhook",
      "name": "Resume Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 600],
      "webhookId": "resume-chat-workflow",
      "notes": "Receives user approval to proceed with BOG generation"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": "public",
        "table": "hvac_chat_memory",
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "sessionId",
              "value": "={{ $json.sessionId }}"
            },
            {
              "column": "state", 
              "value": "pending_approval"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "id": "retrieve-analysis",
      "name": "Retrieve Analysis",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [-600, 600],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      },
      "notes": "Retrieves stored analysis data for approved session"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const data = $input.first().json || {};\n  \n  let analysisData;\n  if (data.data && typeof data.data === 'string') {\n    analysisData = JSON.parse(data.data);\n  } else {\n    analysisData = data.data || data;\n  }\n  \n  if (!analysisData.io_points || !analysisData.pseudocode) {\n    throw new Error('Missing required analysis data');\n  }\n  \n  // Format into PyBOG schema\n  const schema = {\n    metadata: {\n      title: 'HVAC Control Sequence',\n      description: 'Generated from natural language description',\n      created: new Date().toISOString(),\n      sessionId: analysisData.sessionId\n    },\n    inputs: (analysisData.io_points.inputs || []).map((input, index) => ({\n      id: `INPUT_${index + 1}`,\n      name: input,\n      type: 'analog',\n      description: `Input point: ${input}`\n    })),\n    outputs: (analysisData.io_points.outputs || []).map((output, index) => ({\n      id: `OUTPUT_${index + 1}`,\n      name: output,\n      type: 'analog',\n      description: `Output point: ${output}`\n    })),\n    setpoints: [],\n    logic_blocks: (analysisData.pseudocode || []).map((block, index) => ({\n      id: `BLOCK_${index + 1}`,\n      name: block.block || `Block ${index + 1}`,\n      description: `Control logic for ${block.block}`,\n      pseudocode: Array.isArray(block.logic) ? block.logic : [block.logic || 'No logic defined'],\n      priority: index + 1\n    })),\n    original_text: analysisData.original_text || ''\n  };\n  \n  return {\n    json: {\n      bog_schema: schema,\n      sessionId: analysisData.sessionId,\n      ready_for_generation: true\n    }\n  };\n} catch(e) {\n  return {\n    json: {\n      error: 'Failed to format schema: ' + e.message,\n      sessionId: data.sessionId || 'unknown'\n    }\n  };\n}"
      },
      "id": "schema-formatter",
      "name": "Schema Formatter",
      "type": "n8n-nodes-base.code", 
      "typeVersion": 2,
      "position": [-400, 600],
      "notes": "Formats analysis into comprehensive PyBOG schema"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/api/generate-bog",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "schema",
              "value": "={{ JSON.stringify($json.bog_schema) }}"
            },
            {
              "name": "sessionId", 
              "value": "={{ $json.sessionId }}"
            }
          ]
        },
        "options": {
          "timeout": 45000
        }
      },
      "id": "call-pybog-api",
      "name": "Call PyBOG API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [-200, 600],
      "notes": "Sends schema to PyBOG API for BOG file generation"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": "public",
        "table": "hvac_chat_memory",
        "where": {
          "values": [
            {
              "column": "sessionId",
              "value": "={{ $json.sessionId }}"
            },
            {
              "column": "state",
              "value": "pending_approval"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "state": "completed",
            "result_data": "={{ JSON.stringify($json) }}",
            "completed_at": "={{ new Date().toISOString() }}"
          }
        },
        "options": {}
      },
      "id": "update-completion-state",
      "name": "Update Completion State",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [0, 600],
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      },
      "notes": "Updates database with completion status"
    },
    {
      "parameters": {
        "jsCode": "try {\n  const data = $input.first().json || {};\n  const response = data.body || data;\n  const sessionId = data.sessionId || 'unknown';\n  \n  let message = 'BOG file generated successfully!';\n  let downloadUrl = null;\n  let status = 'COMPLETED';\n  \n  if (data.error) {\n    message = 'Error: ' + data.error;\n    status = 'ERROR';\n  } else if (response.success && response.download_url) {\n    message = 'BOG file generated successfully! You can download it using the provided link.';\n    downloadUrl = response.download_url;\n  } else if (response.download_url) {\n    downloadUrl = response.download_url;\n  } else {\n    message = 'API call completed but no download URL was provided.';\n    status = 'WARNING';\n  }\n  \n  return {\n    json: {\n      sessionId: sessionId,\n      status: status,\n      message: message,\n      downloadUrl: downloadUrl,\n      bog_generated: status === 'COMPLETED',\n      timestamp: new Date().toISOString()\n    }\n  };\n} catch(e) {\n  return {\n    json: {\n      sessionId: data.sessionId || 'unknown',\n      status: 'ERROR',\n      message: 'Error processing API response: ' + e.message,\n      bog_generated: false\n    }\n  };\n}"
      },
      "id": "prepare-final-response",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 600],
      "notes": "Formats final API response with proper status"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "final-webhook-response",
      "name": "Final Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [400, 600],
      "notes": "Returns final response with BOG download link"
    },
    {
      "parameters": {
        "tableName": "hvac_chat_memory"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [-800, 200],
      "id": "postgres-chat-memory",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "9e0LyulB1IEZ1fXO",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Analysis Webhook Trigger": {
      "main": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HVAC Analyzer": {
      "ai_tool": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Block Decomposer": {
      "ai_tool": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pseudocode Generator": {
      "ai_tool": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HVAC Expert Agent": {
      "main": [
        [
          {
            "node": "Analysis Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Processor": {
      "main": [
        [
          {
            "node": "Analysis Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Validator": {
      "main": [
        [
          {
            "node": "Notify Frontend",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Analysis State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Frontend": {
      "main": [
        [
          {
            "node": "Wait for User Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for User Approval": {
      "main": [
        [
          {
            "node": "Retrieve Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Webhook": {
      "main": [
        [
          {
            "node": "Retrieve Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Analysis": {
      "main": [
        [
          {
            "node": "Schema Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schema Formatter": {
      "main": [
        [
          {
            "node": "Call PyBOG API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PyBOG API": {
      "main": [
        [
          {
            "node": "Update Completion State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Completion State": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Final Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "HVAC Expert Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
