workflow_data/Workflow 1 - Ingestion.json
{
  "name": "Workflow 1 - Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-doc",
        "options": {
          "binaryPropertyName": "files"
        }
      },
      "id": "b9eb08c7-5bc8-48e5-a477-8faff5ed9714",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        272
      ],
      "webhookId": "ingestion-workflow"
    },
    {
      "parameters": {
        "jsCode": "const item=$input.first();const data=item.json;const files=[];let index=0;while(item.binary[`files${index}`]){const file=item.binary[`files${index}`];files.push({filename:file.fileName,mimeType:file.mimeType,binaryKey:`files${index}`});index++;}return {json:{sessionId:data.sessionId||Date.now().toString(),userMessage:data.message||'',conversationHistory:data.history||[],files}};"
      },
      "id": "0a739fe0-fce0-4878-9742-f6ee6ece3211",
      "name": "Initialize Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.files.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "bd972cb1-3581-4d5e-8572-a90feb39625f",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -288,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "04beafad-3339-4ef6-b55e-e9e813139322",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        -80,
        64
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "={{ $json.binaryKey }}",
        "options": {
          "purpose": "assistants"
        }
      },
      "id": "ae9312db-2a28-4c38-ae1d-463adc44b7c4",
      "name": "Upload File to OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        112,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "88d87eec-8210-4d81-ac13-044089179f3a",
      "name": "Extract Text with OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        320,
        64
      ],
      "credentials": {
        "openAiApi": {
          "id": "AS0epP0l0NsQnl5k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let text='';try{text=$json.data[0].message.content;}catch(e){text='Extraction failed.';}return {json:{...$json,extracted_text:text}};"
      },
      "id": "430cf4e3-5a8e-496a-a19c-9aa576e076ca",
      "name": "Get Extracted Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        64
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7dfffef3-aeff-41b6-b1c3-456c69f5982e",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const items=$input.all();const text=items.map(i=>`--- ${i.json.filename||'file'} ---\\n${i.json.extracted_text}`).join('\\n\\n');const original=items[0].json;return {json:{sessionId:original.sessionId,userMessage:original.userMessage,conversationHistory:original.conversationHistory,extracted_text:text}};"
      },
      "id": "94a41f9a-13ca-4a15-ad85-1b86a1cf5c30",
      "name": "Concatenate Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "return {json:{sessionId:$json.sessionId,userMessage:$json.userMessage,conversationHistory:$json.conversationHistory,extracted_text:''}};"
      },
      "id": "a1b82c0d-6121-4646-bb2e-f3058c5e49aa",
      "name": "Set Empty Extracted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        288
      ]
    },
    {
      "parameters": {
        "mode": "waitForAll",
        "options": {}
      },
      "id": "ac877009-6b7e-4a78-bc85-6ee498649cb3",
      "name": "Merge Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1168,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const d=$input.first().json;return {json:{sessionId:d.sessionId,userMessage:d.userMessage,conversationHistory:d.conversationHistory,extracted_text:d.extracted_text}};"
      },
      "id": "e90d3cf9-a9f8-4bcd-af3a-85f34d6b0117",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e95a9b20-49c7-48b2-af7c-381294ccdf24",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1552,
        272
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Initialize Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Conversation": {
      "main": [
        [
          {
            "node": "Has Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Empty Extracted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Upload File to OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File to OpenAI": {
      "main": [
        [
          {
            "node": "Extract Text with OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text with OpenAI": {
      "main": [
        [
          {
            "node": "Get Extracted Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Extracted Text": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Concatenate Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenate Text": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Empty Extracted": {
      "main": [
        [
          {
            "node": "Merge Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Branches": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "508ddb4c-658f-4f7b-9452-15943feb36b1",
  "meta": {
    "instanceId": "046ab924127beebc2a6ac199cb53caca898f316c28d80263b1da11e2adc4b791"
  },
  "id": "4QJwjZbYOoBA396f",
  "tags": []
}